<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/header %>
  <title>New Book</title>
</head>

<body>

  <% include partials/navigation %>
  <div class="container p-4">
    <form method="POST" target="/new-entry" class="card card-body">

      <div class="form-group">
        <label for="title">Título</label>
        <input name="title" type="text" class="form-control" placeholder="Ingrese un nuevo libro" autofocus required>
      </div>

      <div class="form-group">
        <label for="title">Autor</label>
        <input name="author" type="text" class="form-control" placeholder="Ingrese el autor" autofocus required>
      </div>
      
      <div class="form-group">
        <label for="image">Imagen</label>
        <input type="url" name="image" class="form-control" placeholder="http://website.com" required>
      </div>

      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea class="form-control" name="descripción" rows="2" required>
        </textarea>
      </div>

      <div class="form-group">
        <input type="submit" value="Agregar libro" class="btn btn-primary">
      </div>
    </form>

  </div>

  <% include partials/footer%>
</body>

</html>